Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing data and converting into dataframes

In [27]:
# Importing crop data....................................
crop_data = pd.read_csv(r'C:\Users\USER\Desktop\work\DATAFESTDATATHON2023\STAGING TABLES\Crop data staging table..csv')
crop_dataframe = pd.DataFrame(crop_data)
# .................................................

# Importing sensor data......................................
sensor_data = pd.read_csv(r'C:\Users\USER\Desktop\work\DATAFESTDATATHON2023\STAGING TABLES\sensor data table.csv')
sensor_dataframe = pd.DataFrame(sensor_data)

In [28]:
crop_dataframe.isna().sum()

TIMESTAMP            0
CROP_TYPE            0
CROP_YIELD           0
GROWTH_STAGE    210126
PEST_ISSUE      210637
dtype: int64

In [37]:
pd.set_option('display.float_format', '{:.2f}'.format)

<h1><center>CROP YIELD ANALYSIS</center></h1>

<center><strong><u>AVERAGE YIELD PER CROP</u></strong></center>

- On average there is not much difference in crop yield between the crops, with each one having an average between 549 and 550 bushels per acre. An average crop yield of about 550 bu/ac would be considered exceptionally high for both the low yield(carrot) and high yield(sugarcane,corn,cotton,barely,wheat) crops.

-

- This high yield could be as a result of exceptional farming practices, favorable weather conditions, and possibly the use of advanced crop management techniques or specialized crop varieties. It could also be due to data inaccuracies, there may be need to verify the accuracy of this data.

In [38]:
crop_dataframe[['CROP_TYPE','CROP_YIELD']].groupby('CROP_TYPE').mean().sort_values('CROP_YIELD',ascending=False)

           CROP_YIELD
CROP_TYPE
Sugarcane      550.49
Rice           550.30
Corn           550.19
Carrot         550.15
Potato         550.13
Cotton         549.96
Barley         549.89
Tomato         549.77
Wheat          549.28
Soybean        549.07

In [39]:
crop_dataframe[['CROP_TYPE','CROP_YIELD']].groupby('CROP_TYPE').sum().sort_values('CROP_YIELD',ascending=False)

            CROP_YIELD
CROP_TYPE
Rice      115929520.95
Potato    115686949.11
Carrot    115546954.01
Corn      115515205.13
Tomato    115284900.49
Cotton    115217897.82
Sugarcane 115124089.60
Barley    115071155.36
Soybean   114980316.18
Wheat     114910331.85

Due to issues with determining the validity of data, we will find the mean crop yield but at different sensor battery levels.

In [33]:
sensor_crop = pd.merge(sensor_dataframe,crop_dataframe,on='TIMESTAMP')
sensor_crop['CROP_YIELD'][sensor_crop["BATTERY_LEVEL"]>50].mean()

549.6987473908987

In [35]:
sensor_crop['CROP_YIELD'][sensor_crop["BATTERY_LEVEL"]>70].mean()

549.7220914544833